body{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;

    /*.transition(all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000));*/
    /*background:#ddd;*/
    // font-size: 1.1em;
    background-image: url(/snow2.png);
    background-size: auto;
    background-repeat: repeat repeat;
    text-shadow: 1px 1px 1px #fff;
}

.md-perspective,
.md-perspective body {
    height: 100vh;
    // overflow: hidden;
}

.md-perspective body  {
    background: #222;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
}


h1, h2, h3, h4, h5, h6{font-family: 'Lato', Calibri, Arial, sans-serif;box-sizing: border-box;}
h2{text-transform: uppercase;font-weight: normal;.no-shadow;}

a{color:#555;}
.main-container{
    box-sizing: border-box;
    margin:5px auto 0 auto;
    height:100%;
    width:100%;
    min-height: 100%;
    max-height:98%;
    max-width:100%;
    padding:1vh 1vw;
    // overflow-x: hidden;
    // overflow-y: hidden;
}

.main-content{
    height:100%;
    width:100%;
    box-sizing: border-box;
}

.relative{
    position:relative;
}

.block, .sub-nav{
  padding-left: 0.9375em;
  padding-right: 0.9375em;
    height:100%;
    width:100%;
    box-sizing: border-box;
}

.profileThumb{
    padding:5px;
    margin:10px;
    background: #fff;
    border: 1px solid #eee;
}

p.about{
    display: block;
    background: #fff;
    padding:1rem;
    .effect7;
}

.nameHeader{
    font-weight:normal;color:@bold-blue;margin-bottom:0;
    font-size:2em;
}
.positionHeader{
    font-weight: normal;margin:0 0 20px 15px;color:#000;
    font-size:.5em;
    /*display: inline-block;*/
}

.button.success{
    color:#fff !important;
    text-shadow: -1px -1px 1px #777;
}

.sub-nav {
    dd{margin-top: 10px;}
    dd > a {padding:10px !important;}
    dd.active > a{text-shadow: none;}
}
.side-nav {
    margin:auto 1rem;
    list-style: none;
    i {
        width:20px !important;display:inline-block;text-align:center;
    }
    li > a{
        .transition(all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000));
    }

    li:not(.active) a:hover{
        .transform(scale(1.1));
    }
    p{
        font-size:1.1em;
        color:#777;
    }

    li > ul{
        margin-bottom: 10px;
        border-bottom:1px solid #eee;
    }
}



.fieldset {
    border-bottom:1px solid transparent;
  padding-left: 0.1em;
  padding-right: 0.1em;
    margin:20px auto;
    h2{
        color:#fff;
        margin:0;
        padding:3px 25px;min-width:200px;
        text-shadow: -1px -1px 1px #999;
        background: @dark-blue;
    }
}
.contact-block {
    top:0;
    position: relative;

    h2{
        background-color: rgba(0,0,0,0.3);;
        margin:0;
        padding:3px 25px;
        color:#fff;
        .no-shadow;
    }
    li>a{color:#555;}
}
.tooltip{.no-shadow;}
.label,.fieldset h4{
    color:#fff; text-shadow: -1px -1px 1px #888;margin:0;
}

.footer {
    i.has-tip {
        padding: 5px;
        .border-solid(#eee);
        display: inline-block;
    }

    i.has-tip:hover{color:#2ba6cb}
    i.icon-html5{color:orange}
    i.icon-css3{color:orangered}
}
.meter{
    .transition(all 0.5s ease-out);
    .transform(translate3d(0, 0, 0));
    width:15px !important;
    .border-solid(#eee);
    height:15px !important;
    margin-top: -3px;
    background: rgb(122,188,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, @bold-blue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,188,255,1)), color-stop(44%,rgba(96,171,248,1)), color-stop(100%,@bold-blue)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,@bold-blue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,@bold-blue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,@bold-blue 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,@bold-blue 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

.beige{
    background:#e6e1dd;
    color:#664D18;
    text-shadow: 1px 1px 1px #eee;
}

.reveal-modal{border: 10px solid#eee;}
#grid{
    text-align: justify;
    max-width: 960px;
    font-size: 0.1px;
    &:after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}
.mix{
    display: none;
    opacity: 0;
    width: 300px;
    height: 200px;
    vertical-align: top;
    margin-bottom: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin:5px;
}

.view {
    width: 300px;
    height: 200px;
    border:10px solid #fff;
    box-shadow: 1px 1px 10px #ddd;

    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #fff url(/snow.png) repeat center center;
    text-shadow: none !important;

    .mask, .view .content {
        width: 300px;
        height: 200px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0
    }
    .mask {
    width:280px;
    height:180px;
    }
    img {
        display: block;
        position: relative
    }
    h6 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        padding: 10px 10px 10px 0;
        background: rgba(0, 0, 0, 0.8) !important;
        margin: 20px 0 0 0
    }
    p {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: .5em;
        position: relative;
        color: #fff;
        padding: 0 10px;
        text-align: center;
        text-shadow: 1px 1px 1px #111111;
    }
    a.info {
        display: inline-block;
        position:absolute;
        font-size:.8em;
        text-decoration: none;
        padding: 5px;
        right:5px;
        bottom:5px;
        min-width:50px;
        background: #000;
        color: #fff;
        box-shadow: 0 0 1px #000
    }
    a.info:hover {
        box-shadow: 0 0 5px #000
    }
}
.view-first {
    img {
        .transition(all 0.2s linear);
    }
    .mask {
        opacity: 0;
        background-color: rgba(219,127,8, 0.7);
        .transition(all 0.3s ease-in-out);
    }
    h6 {
        .transform(translateY(-100px));
        opacity: 0;
        .transition(all 0.2s ease-in-out);
    }
    p {
        .transform(translateY(100px));
        opacity: 0;
        .transition(all 0.2s linear);
    }
    a.info{
        opacity: 0;
        .transition(all 0.2s ease-in-out);
    }
}
    .hover img {
        .transform(scale(1.1));
        .filter(3px);
    }
    .hover .mask {
        opacity: 1;
    }
    .hover h6,
    .hover p,
    .hover a.info {
        opacity: 1;
        .transform(translateY(0px));
    }
    .hover p {
        -webkit-transition-delay: 0.1s;
    }
    .hover a.info {
        -webkit-transition-delay: 0.2s;
    }
p{
    margin-bottom:1rem;
    font-size:.9rem;
}
@media only screen{
    h2{
        font-size:2rem;
    }
    h3{
        font-size:1.5rem;
        margin:0 auto 1rem auto !important;
    }
    h6{
        font-weight: normal;
    }
p{
    // line-height:1.5rem;
    font-size:.95rem;
}
    .skill > div:nth-child(2) > div {
        background: rgba(0, 0, 0, 0.03);
        margin-top:.5rem;
        margin-bottom:.5rem;
        padding:.5rem;
        min-height:210px;
        .effect7;
        h4{
            // text-align: center;
            margin-bottom:1rem;
        }
        p{
            text-shadow:-1px -1px 1px #fff;
            // text-align: center;
        }
    }

    .contact-block{
        background: @lighter-blue;
        .effect7;
        li, li > a{
            color:#555 !important;
            text-shadow:1px 1px 1px #C8EEFF;
        }
    }
    .positionHeader{margin-top:-10px !important;}
}

@media screen and (max-width:768px){
    .contact-block{margin-top:auto;}
    h2,h3{font-size:95%;}
    .profileThumb{
        width:20% !important;
        height:auto;
    }
    h1{font-size:1.1em;}
    .filter{font-size: .8em !important;}
    .view img{margin:0 auto;text-align: center;}
}

@media only print {
    body{font-size:13px;}
    .skill > div.columns{
        display: inline-block !important;
        &.small-3{
            width:110px;
        }
        &.small-9{
            width: calc(~'100% - 110px')
        }
    }
    .pb-container{
        max-width:100px;
        display:inline-block;
        margin:0 auto 10px 0;
        .text{
            left:63px !important;
        }
    }
    blockquote{
        border:none;
        border-left:5px solid #ddd;
        padding:0 .5rem;
        // line-height: 1.4rem;
        color:#666 !important;
        font-size: .9rem;
    }
    p{
        color:#666 !important;
        // line-height: 1.25rem;
        strong{
            color:#666 !important;
        }
    }
    .fieldset{
        border-width:1px;
        margin:5px auto;
        h2{
          margin-left:0 !important;
          padding-left:0 !important;
        }
    }
    .contact-block{margin:0 !important;padding:0;font-size:1.1rem;
        a{
            text-decoration: none;
            padding:.3rem;
            border-bottom:1px solid #eee;
            // box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset !important;
        }
    }
    .contact-block h2{margin:20px 0 0 !important;padding-left:0 !important;font-size:130%;}
    p.about{padding:0 !important;display:inline !important;}
    #skillblock{
        h5{
            padding:0 0 15px 0;
        }
        h4{
            padding-bottom:6px;
        }
    }
    footer p > small{
        font-size:11px !important;
    }
    .pageBreak{
        position: relative !important;
        page-break-after: always !important;
        width:100%;
        // page-break-inside: avoid !important;
        // -webkit-region-break-inside: avoid !important;
        // display:block !important;
        // float:none !important;
    }
}

.transition(@args){
    -webkit-transition: @args;
    -moz-transition: @args;
    -ms-transition: @args;
    -o-transition: @args;
    transition: @args;
}

.transform(@args){
    -webkit-transform: @args;
    -moz-transform: @args;
    -ms-transform: @args;
    -o-transform: @args;
    transform: @args;
}

.filter(@args){
    -webkit-filter: blur(@args);
    -moz-filter: blur(@args);
    -o-filter: blur(@args);
    -ms-filter: blur(@args);
    filter: blur(@args);
}

.border-solid(@color){
    border:1px solid @color;
}

.no-shadow{text-shadow: none;}

@bold-blue: #00A2FF;
@dark-blue: #3594cb;
@light-blue: #6cbfee;
@lighter-blue:#afdcf8;

.effect7
{
    position:relative;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before, &:after{
        content:"";
        position:absolute;
        z-index:-1;
        // box-shadow:0 0 20px rgba(0,0,0,0.3);
        top:0;
        bottom:0;
        left:1px;
        right:1px;
    }
    &:after{
        // right:10px;
        left:auto;
        transform:skew(8deg) rotate(3deg);
    }
}

.skill{
    h4{
        margin:0;
    }

}

#employment{
    margin: auto;
}

@import "timeline.import.less";
.pb-container{
    .text {
        font-size: 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(255, 255, 255, 0.98) url(/snow2.png) repeat;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

/* Content styles */
.md-content {
    color: #fff;
    background: @light-blue;
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    text-shadow:none;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.2);
    border-radius: 3px 3px 0 0;
    color:#fff;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;

}

.md-content > div p:not(.lead) {
    margin: 0;
    padding: 1px 0 20px 0;
    font-size: 1rem;
    // line-height: 1.3rem;
}

.md-content > div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content > div ul li {
    padding: 5px 0;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}


/* Effect 19:  Slip in from the top with perspective on container */
.md-show.md-effect-19 ~ .main-container {
    height: 100%;
    overflow: hidden;
}

.md-show.md-effect-19 ~ .md-overlay {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.md-show.md-effect-19 ~ .main-container,
.md-show.md-effect-19 ~ .md-overlay {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: OpenTop 0.5s forwards ease-in;
    -moz-transform-style: preserve-3d;
    -moz-transform-origin: 50% 100%;
    -moz-animation: OpenTop 0.5s forwards ease-in;
    transform-style: preserve-3d;
    transform-origin: 50% 100%;
    animation: OpenTop 0.5s forwards ease-in;
}

@-webkit-keyframes OpenTop {
    50% {
        -webkit-transform: rotateX(10deg);
        -webkit-animation-timing-function: ease-out;
    }
}

@-moz-keyframes OpenTop {
    50% {
        -moz-transform: rotateX(10deg);
        -moz-animation-timing-function: ease-out;
    }
}

@keyframes OpenTop {
    50% {
        transform: rotateX(10deg);
        animation-timing-function: ease-out;
    }
}

.md-effect-19 .md-content {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
}

.md-show.md-effect-19 .md-content {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

.row{
    // box-sizing: border-box;
    // max-width:100vw;
}
